Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

.vs/
*.user
*.suo
*.aps
*.opendb
*.browse.vc
*.slnx.sqlite
.idea/

build/
out/
bin/

Debug/
Release/
x64/
x86/

CMakeCache.txt
CMakeFiles/
*.cmake
!CMakeLists.txt

*.obj
*.iobj
*.pdb
*.ipdb
*.ipch
*.ilk
*.idb
*.tlog
*.res
*.sbr
*.exp
*.lib

*.exe
*.dll
*.so
*.dylib

*.log
*.nativecodeanalysis.xml
*.lastcodeanalysissucceeded


*.bsp
*.map
*.prt
*.wa_
*.ext
*.wad
*.mdl
*.spr
*.tga
